<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article create</title>
</head>
<body>
    <p>Создание публикации</p>
    <form action="#" method="post">
        <p><label>Тема публикации: </label>
        <p><input type="text" name="title" value="" required/>
        <p><label>Краткое описание публикации: </label>
        <p><textarea type="text" name="intro" value="" required></textarea>
        <p><label>Текст публикации: </label>
        <p><textarea type="text" name="text" value="" required></textarea>
        <p><input type="submit" value="Отправить" />
    </form>
    <a href="/singup">Зарегистрироваться</a>
</body>
</html>