<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
</head>
<body>
    <p>Вход в личный кабинет:</p>
    <form action="/login" method="post">
        <p><label>Имя: </label><input type="text" name="login" value="" required/>
        <p><label>Пароль: </label><input type="password" name="password" value="" required/>
        <p><input type="submit" value="Отправить" />
    </form>
    <a href="/sing_up">Зарегистрироваться</a>
</body>
</html>