<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing up page</title>
</head>
<body>
    <p>Заполните данные для регистрации</p>
    <form action="#" method="post">
        <p><label>Имя: </label><input type="text" name="login" value="" required />
        <p><label>Пароль: </label><input type="password" name="password" value="" required />
        <p><input type="submit" value="Отправить" />
        <p>Запрос отправляется один раз</p>
        <a href="/login">Нажать после регистрации</a>
    </form>
</body>
</html>